[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "flake8 sssg"

[packages]
"jinja2" = "==3.1.6"
markdown = "==3.10"
python-frontmatter = "==1.1.0"
pathmatch = "==0.2.2"
pymdown-extensions = "==10.17.1"

[dev-packages]
"flake8" = "*"
"setuptools" = "*"